*~
*.un~
Makefile
pm_to_lib
.zcompdump
mplayer/fifo
fooooo
vim/autoload/
vim/doc/
vim/plugin/
mplayer/radiod.log
pentadactyl/info
zsh/cache/shiva/perl_modules/
zsh/cache/shiva/perl_modules_with_pod
zsh/cache
vim/colors/NEVERLAND_ANSI_BG_VIM
mplayer/rmcd.log
mplayer/rpd.log
vim/.netrwhist
*.zwc
*.swp
*.swo
ncmpcpp/artists/
ncmpcpp/error.log
getmail/
keychain/
