*~
*.un~
Makefile
pm_to_lib
.zcompdump
mplayer/fifo
fooooo
vim/autoload/
vim/doc/
vim/plugin/
mplayer/radiod.log
pentadactyl/info
zsh/cache/shiva/perl_modules/
zsh/cache/shiva/perl_modules_with_pod
zsh/cache
vim/colors/NEVERLAND_ANSI_BG_VIM
mplayer/rmcd.log
mplayer/rpd.log
vim/.netrwhist
*.zwc
*.swp
*.swo
ncmpcpp/error.log
getmail/
keychain/
gtk-2.0/
Thunar/
Trolltech.conf
cache/
dvdc/
gmpc/
libfm/
ncmpcpp/config_trapd00r
qtfm/
vim/colors/neverland.vim
spotify/
vimperator/info
ncmpcpp/confold
vim/syntax/ratpoison2.vim
vimperator/colors
