*~
*.un~
Makefile
pm_to_lib
.zcompdump
mplayer/fifo
fooooo
vim/doc/
gimp/
mplayer/radiod.log
pentadactyl/info
zsh/cache/shiva/perl_modules/
zsh/cache/shiva/perl_modules_with_pod
zsh/cache
vim/colors/NEVERLAND_ANSI_BG_VIM
mplayer/rmcd.log
mplayer/rpd.log
vim/.netrwhist
*.zwc
*.swp
*.swo
ncmpcpp/error.log
getmail/
keychain/
gtk-2.0/
Thunar/
Trolltech.conf
cache/
dvdc/
gmpc/
libfm/
ncmpcpp/config_trapd00r
qtfm/
vim/colors/neverland.vim
spotify/
vimperator/info
ncmpcpp/confold
vim/syntax/ratpoison2.vim
vimperator/colors
QtProject.conf
RogueLegacy/
dconf/
deluge/
ghb/
itch/
lutris/
manjaro/
menus/
mgba/
obs-studio/
openbox/
pavucontrol.ini
pulse/
rpcs3/
skypeforlinux/
unity3d/
vlc/
Slack/
configstore/
irssi-bitlbee.conf
konsolerc
snes9x/
BradyBrenot/
Kvantum/
LosslessCut/
Meltytech/
Mullvad
RawTherapee/
Tusk/
ario/
audexrc
cantata/
cef_user_data/
chromium/
darktable/
desmume/
emaildefaults
goldencheetah.org/
kdenliverc
libreoffice/
mimeapps.list
pcmanfm/
qBittorrent/
qt5ct/
rclone/
scdl.cfg
trizen/
vidcutter/
zoomus.conf
Caprine/
"Crazy Viking Studios/"
In_Dungeon/
"Mullvad VPN/"
MusicBrainz/
Plexamp/
"Raspberry Pi/"
XenonTrade/
awakened-poe-trade/
brasero/
demlo/
discord/
dolphinrc
enchant/he.dic
enchant/he.exc
google-chrome/
k3brc
kde.org/
kdeconnect/
kdeglobals
kid3rc
kiorc
knfsshare
mopidy/
poe-overlay/
projectM/config.inp
trashrc
vim/pack/plugins/start/vim-wakatime/
xfburn/
xorg.conf-sid-2021
Crazy Viking Studios/
Mullvad VPN/
Raspberry Pi/
beets/state.pickle
beets/discogs_token.json
wylt/
KarboSoft/
beets/beets-ideas/
beets/plugins/
beets/titlecase.yaml
clerk/
easytag/
nestopia/
quodlibet/
torbrowser/
vim/pack/plugins/start/splitjoin.vim/
GitKraken/
Microsoft/
Ryujinx/
asciinema/install-id
dolphin-emu/
filezilla/
irssi/
lazygit/
ncmpcpp/config.old
nerd-dictation/
picom/
qgit/
retroarch
smmdb-client/
teams/
vim/colors/lists/
vim/colors/neverlandold.vim
vim/pack/plugins/start/fzf-to-functions.vim/
vim/plugin/perljump.vim
vim/syntax/askas.vim
"vim/syntax/ask\303\245s.vim"
vim/syntax/notes.vim
yuzu/
zsh/git.zsh
vim/pack/plugins/start/vim-ripgrep
ssh/
PulseEffects/autoload/combined.json
PulseEffects/output/conv,eq,sw.json
VirtualBox/
binwalk/
clipit/
inxi.conf
kbct/
lxsession
lxsession-default-apps/
pavucontrol-qt/
themes/Desert-Blue-light-40/
themes/Desert-Orange-Dark-1.3/
themes/Desert-Yellow-1.3/
themes/Graphite-dark-nord/
yelp/
Vieb/
vim/plugged/
ssh/config
fontforge/
Lidarr/
balena-etcher-electron/
balena-etcher/
btop/
composer/
github-copilot/
glib-2.0/
lxpanel/
nicotine/
tags
tel.red/
virt-viewer/
volumeicon/
xarchiver/
.isolated-storage/
Cemu/
Emby Theater/
Hardcoded Software/
Sonixd/
TTKMM/
WebTools-NG/
calibre/
citra-emu/
czkawka/
go/
OpenRGB/
autostart/
gcolor3/
lazydocker/
pegasus-frontend/
vim/autoload/plug.vim.old
gh-copilot
gh
githubnext__github-copilot-cli.json
gtk-3.0/gtk-3.0/bookmarks
via-nativia
vim/templates/template.php
gtk-3.0/
zsh/cwd
ngrok/
bruno/
vifm/vifminfo.json
