[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:trapd00r/vim-fugitive.git
[submodule "vim/bundle/vim-color-check"]
	path = vim/bundle/vim-color-check
	url = git://github.com/KevinGoodsell/vim-color-check.git
[submodule "vim/bundle/vim-detectindent"]
	path = vim/bundle/vim-detectindent
	url = git://github.com/ciaranm/detectindent.git
[submodule "vim/bundle/vim-cmdwincomplete"]
	path = vim/bundle/vim-cmdwincomplete
	url = git://github.com/tyru/cmdwincomplete.vim.git
[submodule "vim/bundle/vim-cascading"]
	path = vim/bundle/vim-cascading
	url = git://github.com/c9s/cascading.vim.git
[submodule "vim/bundle/vim-vimtemplate"]
	path = vim/bundle/vim-vimtemplate
	url = git://github.com/tyru/vimtemplate.vim.git
[submodule "vim/bundle/vim-dev-plugin"]
	path = vim/bundle/vim-dev-plugin
	url = git://github.com/c9s/vim-dev-plugin.git
[submodule "doc"]
	path = doc
	url = /mnt/Leftover/doc/
[submodule "vim/bundle/vim-gitv"]
	path = vim/bundle/vim-gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "vim/bundle/vim-regbuf"]
	path = vim/bundle/vim-regbuf
	url = git://github.com/tyru/regbuf.vim.git
[submodule "vim/bundle/vim-hammer"]
	path = vim/bundle/vim-hammer
	url = git://github.com/trapd00r/hammer.vim.git
[submodule "vim/bundle/vim-vimregex"]
	path = vim/bundle/vim-vimregex
	url = git://github.com/Raimondi/VimRegEx.vim.git
[submodule "bundle/nicer-vim-regex"]
	path = bundle/nicer-vim-regex
	url = git://github.com/int3/nicer-vim-regexps.git
[submodule "vim/bundle/nicer-vim-regex"]
	path = vim/bundle/nicer-vim-regex
	url = git://github.com/int3/nicer-vim-regexps.git
[submodule "vim/bundle/vim-arpeggio"]
	path = vim/bundle/vim-arpeggio
	url = git://github.com/kana/vim-arpeggio.git
[submodule "vim/bundle/vim-x11colors"]
	path = vim/bundle/vim-x11colors
	url = git://github.com/trapd00r/x11colors.vim.git
[submodule "vim/bundle/httplog.git"]
	path = vim/bundle/httplog.git
	url = git://github.com/vim-scripts/httplog.git
[submodule "vim/bundle/vim-ansicolors"]
	path = vim/bundle/vim-ansicolors
	url = git://github.com/trapd00r/vim-ansicolors.git
[submodule "vim/bundle/vim-colorv"]
	path = vim/bundle/vim-colorv
	url = git://github.com/Rykka/ColorV.git
[submodule "vim/bundle/vim-script-runner"]
	path = vim/bundle/vim-script-runner
	url = git://github.com/trapd00r/vim-script-runner.git
[submodule "vim/bundle/vim-minesweeper"]
	path = vim/bundle/vim-minesweeper
	url = git://github.com/mfumi/viminesweeper.git
[submodule "vim/bundle/vim-snake"]
	path = vim/bundle/vim-snake
	url = git://github.com/mfumi/snake.vim.git
[submodule "vim/bundle/vim-lightsout"]
	path = vim/bundle/vim-lightsout
	url = git://github.com/mfumi/lightsout.vim.git
[submodule "vim/bundle/vim-mpc"]
	path = vim/bundle/vim-mpc
	url = git://github.com/mfumi/mpc.vim.git
[submodule "vim/bundle/vim-invader"]
	path = vim/bundle/vim-invader
	url = git://github.com/mattn/invader-vim.git
[submodule "vim/bundle/vim-after-syntax-perl"]
	path = vim/bundle/vim-after-syntax-perl
	url = git://github.com/trapd00r/vim-after-syntax-perl.git
