set bind-tty-special-chars on
set blink-matching-paren on
set byte-oriented off
set completion-ignore-case on
set convert-meta off
set disable-completion off
set echo-control-characters on
set enable-keypad off
set enable-meta-key on
set history-preserve-point off
set horizontal-scroll-mode off
set input-meta on
set mark-directories on
set mark-modified-lines on
set mark-symlinked-directories on
set match-hidden-files off
set meta-flag on
set output-meta on
set page-completions on
set prefer-visible-bell on
set print-completions-horizontally on
set revert-all-at-newline off
set show-all-if-ambiguous on
set show-all-if-unmodified on
set skip-completed-text on
set visible-stats on
set bell-style audible
set comment-begin #
set completion-prefix-display-length 111
set completion-query-items 200
set editing-mode vi
set history-size 1000
set keymap vi-insert

