# canvas patch :)
# 0 = black 1 = red 2 = green 3 = yellow 4 = blue 5 = magenta 6 = cyan 7 = white 
#set_done_fg_color = 2
#set_done_bg_color = -1
#set_active_fg_color = 3
#set_active_bg_color = -1

download_rate = 5000
upload_rate = 0

# Default directory to save the downloaded torrents.
#directory = /mnt/Music/.new

session = /home/scp1/.local/share/rtorrent/session/

port_range = 50000-50000

check_hash = no
encryption = allow_incoming,try_outgoing,enable_retry

max_memory_usage = 1000000000

#on_erase = rm_complete,"execute=rm,-r,--,$d.get_base_path=" 


#schedule = music1,5,5,"load_start=/mnt/Music_1/.torrents/*.torrent,d.set_directory=/mnt/Music_1/.new/"
#schedule = music2,5,5,"load_start=/mnt/Music_1/.torrents/FLAC/*.torrent,d.set_directory=/mnt/Music_1/FLAC/"
#schedule = music3,5,5,"load_start=/mnt/Music_1/.torrents/Not_Scene/*.torrent,d.set_directory=/mnt/Music_1/Not_Scene/"
#schedule = music4,5,5,"load_start=/mnt/Music_2/.torrents/*.torrent,d.set_directory=/mnt/Music_2/.new/"
#schedule = music5,5,5,"load_start=/mnt/Music_2/.torrents/FLAC/*.torrent,d.set_directory=/mnt/Music_2/FLAC/"
#schedule = music6,5,5,"load_start=/mnt/Music_2/.torrents/Not_Scene/*.torrent,d.set_directory=/mnt/Music_2/Not_Scene/"
#schedule = music7,5,5,"load_start=/mnt/Music_3/.torrents/FLAC/*.torrent,d.set_directory=/mnt/Music_3/FLAC/"
#schedule = music8,5,5,"load_start=/mnt/Music_3/.torrents/Not_Scene/*.torrent,d.set_directory=/mnt/Music_3/Not_Scene/"
#schedule = music9,5,5,"load_start=/mnt/Music_3/.torrents/*.torrent,d.set_directory=/mnt/Music_3/.new/"
schedule = movies1,5,5,"load_start=/mnt/Movies_1/.torrents/*.torrent,d.set_directory=/mnt/Movies_1/.new/"
schedule = movies2,5,5,"load_start=/mnt/Movies_2/.torrents/*.torrent,d.set_directory=/mnt/Movies_2/.new/"
schedule = movies3,5,5,"load_start=/mnt/Movies_3/.torrents/*.torrent,d.set_directory=/mnt/Movies_3/"
schedule = docs1,5,5,"load_start=/mnt/Docs/.torrents/*.torrent,d.set_directory=/mnt/Docs/.new/"
schedule = games1,5,5,"load_start=/mnt/Games_1/.torrents/*.torrent,d.set_directory=/mnt/Games_1/.new/"
schedule = mvids1,5,5,"load_start=/mnt/Mvids/.torrents/*.torrent,d.set_directory=/mnt/Mvids/.new/"
schedule = mvids2,5,5,"load_start=/mnt/Mvids_2/.torrents/*.torrent,d.set_directory=/mnt/Mvids_2/"
schedule = porn1,5,5,"load_start=/mnt/Porn/.torrents/*.torrent,d.set_directory=/mnt/Porn/.new/"
#schedule = tv1,5,5,"load_start=/home/scp1/.torrents/*.torrent,d.set_directory=/home/scp1/Downloads/"
##schedule = musicspec1,5,5,"load_start=/mnt/Music_1/.torrents/A/*.torrent,d.set_directory=/mnt/Music_1/A/"
##schedule = musicspec2,5,5,"load_start=/mnt/Music_1/.torrents/B/*.torrent,d.set_directory=/mnt/Music_1/B/"
##schedule = musicspec3,5,5,"load_start=/mnt/Music_1/.torrents/C/*.torrent,d.set_directory=/mnt/Music_1/C/"
##schedule = musicspec4,5,5,"load_start=/mnt/Music_1/.torrents/D/*.torrent,d.set_directory=/mnt/Music_1/D/"
##schedule = musicspec5,5,5,"load_start=/mnt/Music_1/.torrents/E/*.torrent,d.set_directory=/mnt/Music_1/E/"
##schedule = musicspec6,5,5,"load_start=/mnt/Music_1/.torrents/F/*.torrent,d.set_directory=/mnt/Music_1/F/"
##schedule = musicspec7,5,5,"load_start=/mnt/Music_1/.torrents/G/*.torrent,d.set_directory=/mnt/Music_1/G/"
##schedule = musicspec8,5,5,"load_start=/mnt/Music_1/.torrents/H/*.torrent,d.set_directory=/mnt/Music_1/H/"
##schedule = musicspec9,5,5,"load_start=/mnt/Music_1/.torrents/I/*.torrent,d.set_directory=/mnt/Music_1/I/"
##schedule = musicspecial1,5,5,"load_start=/mnt/Music_1/.torrents/J/*.torrent,d.set_directory=/mnt/Music_1/J/"
##schedule = musicspecial2,5,5,"load_start=/mnt/Music_1/.torrents/K/*.torrent,d.set_directory=/mnt/Music_1/K/"
##schedule = musicspecial3,5,5,"load_start=/mnt/Music_1/.torrents/L/*.torrent,d.set_directory=/mnt/Music_1/L/"
##schedule = musicspecial4,5,5,"load_start=/mnt/Music_1/.torrents/M/*.torrent,d.set_directory=/mnt/Music_1/M/"
##schedule = musicspecial5,5,5,"load_start=/mnt/Music_1/.torrents/N/*.torrent,d.set_directory=/mnt/Music_1/N/"
##schedule = musicspecial6,5,5,"load_start=/mnt/Music_1/.torrents/O/*.torrent,d.set_directory=/mnt/Music_1/O/"
##schedule = musicspecial7,5,5,"load_start=/mnt/Music_1/.torrents/P/*.torrent,d.set_directory=/mnt/Music_1/P/"
##schedule = musicspecial8,5,5,"load_start=/mnt/Music_1/.torrents/Q/*.torrent,d.set_directory=/mnt/Music_1/Q/"
##schedule = musicspecial9,5,5,"load_start=/mnt/Music_1/.torrents/R/*.torrent,d.set_directory=/mnt/Music_1/R/"
##schedule = musicspeciala1,5,5,"load_start=/mnt/Music_1/.torrents/S/*.torrent,d.set_directory=/mnt/Music_1/S/"
##schedule = musicspeciala2,5,5,"load_start=/mnt/Music_1/.torrents/T/*.torrent,d.set_directory=/mnt/Music_1/T/"
##schedule = musicspeciala3,5,5,"load_start=/mnt/Music_1/.torrents/U/*.torrent,d.set_directory=/mnt/Music_1/U/"
##schedule = musicspeciala4,5,5,"load_start=/mnt/Music_1/.torrents/V/*.torrent,d.set_directory=/mnt/Music_1/V/"
##schedule = musicspeciala5,5,5,"load_start=/mnt/Music_1/.torrents/W/*.torrent,d.set_directory=/mnt/Music_1/W/"
##schedule = musicspeciala6,5,5,"load_start=/mnt/Music_1/.torrents/X/*.torrent,d.set_directory=/mnt/Music_1/X/"
##schedule = musicspeciala7,5,5,"load_start=/mnt/Music_1/.torrents/Y/*.torrent,d.set_directory=/mnt/Music_1/Y/"
##schedule = musicspeciala8,5,5,"load_start=/mnt/Music_1/.torrents/Z/*.torrent,d.set_directory=/mnt/Music_1/Z/"
##schedule = musicspeciala9,5,5,"load_start=/mnt/Music_1/.torrents/VA/*.torrent,d.set_directory=/mnt/Music_1/VA/"
##schedule = musicext1,5,5,"load_start=/mnt/Music_1/.torrents/0-9/*.torrent,d.set_directory=/mnt/Music_1/0-9/"
##schedule = musicext2,5,5,"load_start=/mnt/Music_2/.torrents/0-9/*.torrent,d.set_directory=/mnt/Music_2/0-9/"
##schedule = musicext3,5,5,"load_start=/mnt/Music_2/.torrents/A/*.torrent,d.set_directory=/mnt/Music_2/A/"
##schedule = musicext4,5,5,"load_start=/mnt/Music_2/.torrents/B/*.torrent,d.set_directory=/mnt/Music_2/B/"
##schedule = musicext5,5,5,"load_start=/mnt/Music_2/.torrents/C/*.torrent,d.set_directory=/mnt/Music_2/C/"
##schedule = musicext6,5,5,"load_start=/mnt/Music_2/.torrents/D/*.torrent,d.set_directory=/mnt/Music_2/D/"
##schedule = musicext7,5,5,"load_start=/mnt/Music_2/.torrents/E/*.torrent,d.set_directory=/mnt/Music_2/E/"
##schedule = musicext8,5,5,"load_start=/mnt/Music_2/.torrents/F/*.torrent,d.set_directory=/mnt/Music_2/F/"
##schedule = musicext9,5,5,"load_start=/mnt/Music_2/.torrents/G/*.torrent,d.set_directory=/mnt/Music_2/G/"
##schedule = musicextend1,5,5,"load_start=/mnt/Music_2/.torrents/H/*.torrent,d.set_directory=/mnt/Music_2/H/"
##schedule = musicextend2,5,5,"load_start=/mnt/Music_2/.torrents/I/*.torrent,d.set_directory=/mnt/Music_2/I/"
##schedule = musicextend3,5,5,"load_start=/mnt/Music_2/.torrents/J/*.torrent,d.set_directory=/mnt/Music_2/J/"
##schedule = musicextend4,5,5,"load_start=/mnt/Music_2/.torrents/K/*.torrent,d.set_directory=/mnt/Music_2/K/"
##schedule = musicextend5,5,5,"load_start=/mnt/Music_2/.torrents/L/*.torrent,d.set_directory=/mnt/Music_2/L/"
##schedule = musicextend6,5,5,"load_start=/mnt/Music_2/.torrents/M/*.torrent,d.set_directory=/mnt/Music_2/M/"
##schedule = musicextend7,5,5,"load_start=/mnt/Music_2/.torrents/N/*.torrent,d.set_directory=/mnt/Music_2/N/"
##schedule = musicextend8,5,5,"load_start=/mnt/Music_2/.torrents/O/*.torrent,d.set_directory=/mnt/Music_2/O/"
##schedule = musicextend9,5,5,"load_start=/mnt/Music_2/.torrents/P/*.torrent,d.set_directory=/mnt/Music_2/P/"
##schedule = musicextended1,5,5,"load_start=/mnt/Music_2/.torrents/Q/*.torrent,d.set_directory=/mnt/Music_2/Q/"
##schedule = musicextended2,5,5,"load_start=/mnt/Music_2/.torrents/R/*.torrent,d.set_directory=/mnt/Music_2/R/"
##schedule = musicextended3,5,5,"load_start=/mnt/Music_2/.torrents/S/*.torrent,d.set_directory=/mnt/Music_2/S/"
##schedule = musicextended4,5,5,"load_start=/mnt/Music_2/.torrents/T/*.torrent,d.set_directory=/mnt/Music_2/T/"
##schedule = musicextended5,5,5,"load_start=/mnt/Music_2/.torrents/U/*.torrent,d.set_directory=/mnt/Music_2/U/"
##schedule = musicextended6,5,5,"load_start=/mnt/Music_2/.torrents/V/*.torrent,d.set_directory=/mnt/Music_2/V/"
##schedule = musicextended7,5,5,"load_start=/mnt/Music_2/.torrents/W/*.torrent,d.set_directory=/mnt/Music_2/X/"
##schedule = musicextended8,5,5,"load_start=/mnt/Music_2/.torrents/X/*.torrent,d.set_directory=/mnt/Music_2/Y/"
##schedule = musicextended9,5,5,"load_start=/mnt/Music_2/.torrents/Y/*.torrent,d.set_directory=/mnt/Music_2/Z/"
##schedule = musicextendeded1,5,5,"load_start=/mnt/Music_2/.torrents/VA/*.torrent,d.set_directory=/mnt/Music_2/VA/"
##schedule = musicextendeded2,5,5,"load_start=/mnt/Music_3/.torrents/VA/*.torrent,d.set_directory=/mnt/Music_3/VA/"
##schedule = musicextendeded3,5,5,"load_start=/mnt/Music_3/.torrents/A/*.torrent,d.set_directory=/mnt/Music_3/A/"
##schedule = musicextendeded4,5,5,"load_start=/mnt/Music_3/.torrents/B/*.torrent,d.set_directory=/mnt/Music_3/B/"
##schedule = musicextendeded5,5,5,"load_start=/mnt/Music_3/.torrents/C/*.torrent,d.set_directory=/mnt/Music_3/C/"
##schedule = musicextendeded6,5,5,"load_start=/mnt/Music_3/.torrents/D/*.torrent,d.set_directory=/mnt/Music_3/D/"
##schedule = musicextendeded7,5,5,"load_start=/mnt/Music_3/.torrents/E/*.torrent,d.set_directory=/mnt/Music_3/E/"
##schedule = musicextendeded8,5,5,"load_start=/mnt/Music_3/.torrents/F/*.torrent,d.set_directory=/mnt/Music_3/F/"
##schedule = musicextendeded9,5,5,"load_start=/mnt/Music_3/.torrents/G/*.torrent,d.set_directory=/mnt/Music_3/G/"
##schedule = musicmore1,5,5,"load_start=/mnt/Music_3/.torrents/H/*.torrent,d.set_directory=/mnt/Music_3/H/"
##schedule = musicmore2,5,5,"load_start=/mnt/Music_3/.torrents/I/*.torrent,d.set_directory=/mnt/Music_3/I/"
##schedule = musicmore3,5,5,"load_start=/mnt/Music_3/.torrents/J/*.torrent,d.set_directory=/mnt/Music_3/J/"
##schedule = musicmore4,5,5,"load_start=/mnt/Music_3/.torrents/K/*.torrent,d.set_directory=/mnt/Music_3/K/"
##schedule = musicmore5,5,5,"load_start=/mnt/Music_3/.torrents/L/*.torrent,d.set_directory=/mnt/Music_3/L/"
##schedule = musicmore6,5,5,"load_start=/mnt/Music_3/.torrents/M/*.torrent,d.set_directory=/mnt/Music_3/M/"
##schedule = musicmore7,5,5,"load_start=/mnt/Music_3/.torrents/N/*.torrent,d.set_directory=/mnt/Music_3/N/"
##schedule = musicmore8,5,5,"load_start=/mnt/Music_3/.torrents/O/*.torrent,d.set_directory=/mnt/Music_3/O/"
##schedule = musicmore9,5,5,"load_start=/mnt/Music_3/.torrents/P/*.torrent,d.set_directory=/mnt/Music_3/P/"
##schedule = musicmost1,5,5,"load_start=/mnt/Music_3/.torrents/Q/*.torrent,d.set_directory=/mnt/Music_3/Q/"
##schedule = musicmost2,5,5,"load_start=/mnt/Music_3/.torrents/R/*.torrent,d.set_directory=/mnt/Music_3/R/"
##schedule = musicmost3,5,5,"load_start=/mnt/Music_3/.torrents/S/*.torrent,d.set_directory=/mnt/Music_3/S/"
##schedule = musicmost4,5,5,"load_start=/mnt/Music_3/.torrents/T/*.torrent,d.set_directory=/mnt/Music_3/T/"
##schedule = musicmost5,5,5,"load_start=/mnt/Music_3/.torrents/U/*.torrent,d.set_directory=/mnt/Music_3/U/"
##schedule = musicmost6,5,5,"load_start=/mnt/Music_3/.torrents/V/*.torrent,d.set_directory=/mnt/Music_3/V/"
##schedule = musicmost7,5,5,"load_start=/mnt/Music_3/.torrents/W/*.torrent,d.set_directory=/mnt/Music_3/W/"
##schedule = musicmost8,5,5,"load_start=/mnt/Music_3/.torrents/X/*.torrent,d.set_directory=/mnt/Music_3/X/"
##schedule = musicmost9,5,5,"load_start=/mnt/Music_3/.torrents/Y/*.torrent,d.set_directory=/mnt/Music_3/Y/"
##schedule = musicmostmore1,5,5,"load_start=/mnt/Music_3/.torrents/Z/*.torrent,d.set_directory=/mnt/Music_3/Z/"
##schedule = musicmostmore2,5,5,"load_start=/mnt/Music_4/.torrents/A/*.torrent,d.set_directory=/mnt/Music_4/A"
##schedule = musicmostmore3,5,5,"load_start=/mnt/Music_4/.torrents/B/*.torrent,d.set_directory=/mnt/Music_4/B/"
##schedule = musicmostmore4,5,5,"load_start=/mnt/Music_4/.torrents/C/*.torrent,d.set_directory=/mnt/Music_4/C/"
##schedule = musicmostmore5,5,5,"load_start=/mnt/Music_4/.torrents/D/*.torrent,d.set_directory=/mnt/Music_4/D/"
##schedule = musicmostmore6,5,5,"load_start=/mnt/Music_4/.torrents/E/*.torrent,d.set_directory=/mnt/Music_4/E/"
##schedule = musicmostmore7,5,5,"load_start=/mnt/Music_4/.torrents/F/*.torrent,d.set_directory=/mnt/Music_4/F/"
##schedule = musicmostmore8,5,5,"load_start=/mnt/Music_4/.torrents/G/*.torrent,d.set_directory=/mnt/Music_4/G/"
##schedule = musicmostmore9,5,5,"load_start=/mnt/Music_4/.torrents/H/*.torrent,d.set_directory=/mnt/Music_4/H"
##schedule = musicmostmoremost1,5,5,"load_start=/mnt/Music_4/.torrents/I/*.torrent,d.set_directory=/mnt/Music_4/I"
##schedule = musicmostmoremost2,5,5,"load_start=/mnt/Music_4/.torrents/J/*.torrent,d.set_directory=/mnt/Music_4/J"
##schedule = musicmostmoremost3,5,5,"load_start=/mnt/Music_4/.torrents/K/*.torrent,d.set_directory=/mnt/Music_4/K"
##schedule = musicmostmoremost4,5,5,"load_start=/mnt/Music_4/.torrents/L/*.torrent,d.set_directory=/mnt/Music_4/L"
##schedule = musicmostmoremost5,5,5,"load_start=/mnt/Music_4/.torrents/M/*.torrent,d.set_directory=/mnt/Music_4/M"
##schedule = musicmostmoremost6,5,5,"load_start=/mnt/Music_4/.torrents/N/*.torrent,d.set_directory=/mnt/Music_4/N"
##schedule = musicmostmoremost7,5,5,"load_start=/mnt/Music_4/.torrents/O/*.torrent,d.set_directory=/mnt/Music_4/O"
##schedule = musicmostmoremost8,5,5,"load_start=/mnt/Music_4/.torrents/P/*.torrent,d.set_directory=/mnt/Music_4/P"
##schedule = musicmostmoremost9,5,5,"load_start=/mnt/Music_4/.torrents/Q/*.torrent,d.set_directory=/mnt/Music_4/Q"
##schedule = musicmostyes1,5,5,"load_start=/mnt/Music_4/.torrents/R/*.torrent,d.set_directory=/mnt/Music_4/R"
##schedule = musicmostyes2,5,5,"load_start=/mnt/Music_4/.torrents/S/*.torrent,d.set_directory=/mnt/Music_4/S"
##schedule = musicmostyes3,5,5,"load_start=/mnt/Music_4/.torrents/T/*.torrent,d.set_directory=/mnt/Music_4/T"
##schedule = musicmostyes4,5,5,"load_start=/mnt/Music_4/.torrents/U/*.torrent,d.set_directory=/mnt/Music_4/U"
##schedule = musicmostyes5,5,5,"load_start=/mnt/Music_4/.torrents/V/*.torrent,d.set_directory=/mnt/Music_4/V"
##schedule = musicmostyes6,5,5,"load_start=/mnt/Music_4/.torrents/W/*.torrent,d.set_directory=/mnt/Music_4/W"
##schedule = musicmostyes7,5,5,"load_start=/mnt/Music_4/.torrents/X/*.torrent,d.set_directory=/mnt/Music_4/X"
##schedule = musicmostyes8,5,5,"load_start=/mnt/Music_4/.torrents/Y/*.torrent,d.set_directory=/mnt/Music_4/Y"
##schedule = musicmostyes9,5,5,"load_start=/mnt/Music_4/.torrents/Z/*.torrent,d.set_directory=/mnt/Music_4/Z"
##schedule = musicmostyesno1,5,5,"load_start=/mnt/Music_4/.torrents/0-9/*.torrent,d.set_directory=/mnt/Music_4/0-9/"
##schedule = musicmostyesyes1,5,5,"load_start=/mnt/Music_4/.torrents/FLAC/*.torrent,d.set_directory=/mnt/Music_4/FLAC/"
schedule = musicmostyesyes2,5,5,"load_start=/mnt/Music_4/.torrents/Not_Scene/*.torrent,d.set_directory=/mnt/Music_4/Not_Scene/"
##schedule = musicmostyesyes3,5,5,"load_start=/mnt/Music_4/.torrents/VA/*.torrent,d.set_directory=/mnt/Music_4/VA/"
#schedule = musicmostyesyes4,5,5,"load_start=/mnt/Music_4/.torrents/*.torrent,d.set_directory=/mnt/Music_4/.new/"
##
##schedule = musiclessmostmore2,5,5,"load_start=/mnt/Music_5/.torrents/A/*.torrent,d.set_directory=/mnt/Music_5/A"
##schedule = musiclessmostmore3,5,5,"load_start=/mnt/Music_5/.torrents/B/*.torrent,d.set_directory=/mnt/Music_5/B/"
##schedule = musiclessmostmore4,5,5,"load_start=/mnt/Music_5/.torrents/C/*.torrent,d.set_directory=/mnt/Music_5/C/"
##schedule = musiclessmostmore5,5,5,"load_start=/mnt/Music_5/.torrents/D/*.torrent,d.set_directory=/mnt/Music_5/D/"
##schedule = musiclessmostmore6,5,5,"load_start=/mnt/Music_5/.torrents/E/*.torrent,d.set_directory=/mnt/Music_5/E/"
##schedule = musiclessmostmore7,5,5,"load_start=/mnt/Music_5/.torrents/F/*.torrent,d.set_directory=/mnt/Music_5/F/"
##schedule = musiclessmostmore8,5,5,"load_start=/mnt/Music_5/.torrents/G/*.torrent,d.set_directory=/mnt/Music_5/G/"
##schedule = musiclessmostmore9,5,5,"load_start=/mnt/Music_5/.torrents/H/*.torrent,d.set_directory=/mnt/Music_5/H"
##schedule = musiclessmostmorelessmost1,5,5,"load_start=/mnt/Music_5/.torrents/I/*.torrent,d.set_directory=/mnt/Music_5/I"
##schedule = musiclessmostmorelessmost2,5,5,"load_start=/mnt/Music_5/.torrents/J/*.torrent,d.set_directory=/mnt/Music_5/J"
##schedule = musiclessmostmorelessmost3,5,5,"load_start=/mnt/Music_5/.torrents/K/*.torrent,d.set_directory=/mnt/Music_5/K"
##schedule = musiclessmostmorelessmost4,5,5,"load_start=/mnt/Music_5/.torrents/L/*.torrent,d.set_directory=/mnt/Music_5/L"
##schedule = musiclessmostmorelessmost5,5,5,"load_start=/mnt/Music_5/.torrents/M/*.torrent,d.set_directory=/mnt/Music_5/M"
##schedule = musiclessmostmorelessmost6,5,5,"load_start=/mnt/Music_5/.torrents/N/*.torrent,d.set_directory=/mnt/Music_5/N"
##schedule = musiclessmostmorelessmost7,5,5,"load_start=/mnt/Music_5/.torrents/O/*.torrent,d.set_directory=/mnt/Music_5/O"
##schedule = musiclessmostmorelessmost8,5,5,"load_start=/mnt/Music_5/.torrents/P/*.torrent,d.set_directory=/mnt/Music_5/P"
##schedule = musiclessmostmorelessmost9,5,5,"load_start=/mnt/Music_5/.torrents/Q/*.torrent,d.set_directory=/mnt/Music_5/Q"
##schedule = musiclessmostyes1,5,5,"load_start=/mnt/Music_5/.torrents/R/*.torrent,d.set_directory=/mnt/Music_5/R"
##schedule = musiclessmostyes2,5,5,"load_start=/mnt/Music_5/.torrents/S/*.torrent,d.set_directory=/mnt/Music_5/S"
##schedule = musiclessmostyes3,5,5,"load_start=/mnt/Music_5/.torrents/T/*.torrent,d.set_directory=/mnt/Music_5/T"
##schedule = musiclessmostyes4,5,5,"load_start=/mnt/Music_5/.torrents/U/*.torrent,d.set_directory=/mnt/Music_5/U"
##schedule = musiclessmostyes5,5,5,"load_start=/mnt/Music_5/.torrents/V/*.torrent,d.set_directory=/mnt/Music_5/V"
##schedule = musiclessmostyes6,5,5,"load_start=/mnt/Music_5/.torrents/W/*.torrent,d.set_directory=/mnt/Music_5/W"
##schedule = musiclessmostyes7,5,5,"load_start=/mnt/Music_5/.torrents/X/*.torrent,d.set_directory=/mnt/Music_5/X"
##schedule = musiclessmostyes8,5,5,"load_start=/mnt/Music_5/.torrents/Y/*.torrent,d.set_directory=/mnt/Music_5/Y"
##schedule = musiclessmostyes9,5,5,"load_start=/mnt/Music_5/.torrents/Z/*.torrent,d.set_directory=/mnt/Music_5/Z"
##schedule = musiclessmostyesno1,5,5,"load_start=/mnt/Music_5/.torrents/0-9/*.torrent,d.set_directory=/mnt/Music_5/0-9/"
##schedule = musiclessmostyesyes1,5,5,"load_start=/mnt/Music_5/.torrents/FLAC/*.torrent,d.set_directory=/mnt/Music_5/FLAC/"
schedule = musiclessmostyesyes2,5,5,"load_start=/mnt/Music_5/.torrents/Not_Scene/*.torrent,d.set_directory=/mnt/Music_5/Not_Scene/"
##schedule = musiclessmostyesyes3,5,5,"load_start=/mnt/Music_5/.torrents/VA/*.torrent,d.set_directory=/mnt/Music_5/VA/"
##schedule = musiclessmostyesyes4,5,5,"load_start=/mnt/Music_5/.torrents/*.torrent,d.set_directory=/mnt/Music_5/.new/"
#
#schedule = musicthesixthdisk1,5,5,"load_start=/mnt/Music_6/.torrents/*.torrent,d.set_directory=/mnt/Music_6/.new/"
#schedule = musictheseventhdisk1,5,5,"load_start=/mnt/Music_7/.torrents/*.torrent,d.set_directory=/mnt/Music_7/.new"
#
schedule = thefirstporndisk1,5,5,"load_start=/mnt/Porn/.torrents/*.torrent,d.set_directory=/mnt/Porn/.new/"
#
schedule = books1,5,5,"load_start=/mnt/Books/.torrents/Audiobooks/*.torrent,d.set_directory=/mnt/Books/Audiobooks/"
schedule = books2,5,5,"load_start=/mnt/Books/.torrents/E-Books/*.torrent,d.set_directory=/mnt/Books/E-Books/"
schedule = books3,5,5,"load_start=/mnt/Books/.torrents/Magazines/*.torrent,d.set_directory=/mnt/Books/Magazines/"
schedule = books4,5,5,"load_start=/mnt/Books/.torrents/Documentation/*.torrent,d.set_directory=/mnt/Books/Documentation/"
#
schedule = tvdisk121,5,5,"load_start=/mnt/TV_1/.torrents/*.torrent,d.set_directory=/mnt/TV_1/.new/"
schedule = tvdisk21,5,5,"load_start=/mnt/TV_2/.torrents/*.torrent,d.set_directory=/mnt/TV_2/.new/"
schedule = tvdisk31,5,5,"load_start=/mnt/TV_3/.torrents/*.torrent,d.set_directory=/mnt/TV_3"
#
#schedule = gamedisk21,5,5,"load_start=/mnt/Games_2/.torrents/*.torrent,d.set_directory=/mnt/Games_2/.new/"
