/* .Xresources | trapd00r.se */

XTerm*background:                 #000000
XTerm*foreground:                 #FFFFFF
XTerm*colorMode:                  On
XTerm*colorBD:                    #FFFFFF
XTerm*colorBDMode:                On
XTerm*colorUL:                    #FFFFFF
XTerm*colorULMode:                On
Xterm*dynamicColors:              On

/* terminal stuff */
XTerm*metaSendsEscape:            True
XTerm*vt100.scrollBar:            False
XTerm*multiScroll:                on
XTerm*jumpScroll:                 on
xterm*SaveLines:                  2500

/* eyecandy */
XTerm*scrollBar:                  false

/* colors */
URxvt.shiva.background:           [100]#000000
URxvt.shiva.foreground:           #FFFFFF
URxvt.shiva.cursorColor:          #F65F01
URxvt.shiva.cursorColor2:         #252525
URxvt.shiva.colorIT:              #FFFFFF
URxvt.shiva.colorBD:              #FFFFFF
URxvt.shiva.colorUL:              #FFFFFF
URxvt.shiva.colorRV:              #333333
URxvt.shiva.underlineColor:       #6084FF
URxvt.shiva.borderColor:          #000000
URxvt.shiva.fadeColor:            #F01600
URxvt.shiva.pointerColor:         #1793D1
URxvt.shiva.pointerColor2:        #0092FF

/* fonts */
URxvt.shiva*font:                 -*-terminus-medium-*-normal-*-*-*-72-72-c-*-*-*
URxvt.shiva*boldFont:             -*-terminus-bold-*-*-*-14-*-*-*-*-*-*-*
URxvt.shiva*italicFont:           -*-terminus-bold-*-*-*-14-*-*-*-*-*-*-*

/* matches */
URxvt.shiva.underlineURLs:        false
URxvt.shiva.urlLauncher:          /usr/bin/firefox
URxvt.shiva.matcher.button:       1
URxvt.shiva.cutchars:             "()*,<>[]{}|'"
URxvt.shiva.matcher.pattern.1:    \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt.shiva.matcher.launcher.1:   /usr/bin/firefox
URxvt.shiva.matcher.pattern.2:    \\B(/\\S+?):(\\d+)(?=:|$)
URxvt.shiva.matcher.launcher.2:   gvim +$2 $1

/* libs */
URxvt.shiva.perl-lib:             /usr/lib/urxvt/perl
URxvt.shiva.perl-ext-common:      default,matcher
URxvt.shiva.perl-eval:            print $1

/* perl magic */
URxvt.selection.pattern-0:        ( at .*? line \\d+[,.])
URxvt.selection-autotransform.0:  s/^ at (.*?) line (\\d+)[,.]$/:e \\Q$1\E\\x0d:$2\\x0d/

/* terminal stuff */
URxvt.shiva.scrollKey:            true
URxvt.shiva.scrollWithBuffer:     true
URxvt.shiva.scrollBack:           true
URxvt.shiva.scrollTtyOutput:      false
URxvt.shiva.scrollTtyKeypress:    true
URxvt.shiva.jumpScroll:           true
URxvt.shiva.skipScroll:           true
URxvt.shiva.loginShell:           true
URxvt.shiva.urgentOnBell:         true
URxvt.shiva.saveLines:            25000
!URxvt.shiva.termName:            rxvt-unicode
URxvt.shiva.trippleclickwords:    true
!URxvt.shiva.modifier:            (alt,meta,hyper,super,mod1,mod2,mod3,mod4,mod5)
!URxvt.shiva.secondaryScreen:     true
!URxvt.shiva.secondaryScroll:     true
URxvt.shiva.scrollstyle:          next
URxvt.shiva.pasteableTabs:        true
URxvt.shiva.pointerBlank:         true
URxvt.shiva.pointerBlankDelay:    2

!... eyecandy
!URxvt.shiva.transparent:         true
!URxvt.shiva.shading:             151
URxvt.shiva.fading:               true
!URxvt.shiva.inheritPixmap:       true
URxvt.shiva.scrollBar:            false
!URxvt.shiva.cursorBlink:         false
!URxvt.shiva.reverseVideo:        true
!URxvt.shiva.depth:               24
!URxvt.internalBorder:            0
!URxvt.externalBorder:            0
!URxvt.shiva.borderLess           true
!URxvt.lineSpace:                 3
URxvt.shiva.title:                laleh
/*URxvt.shiva.blendType:           (add,alphablend,allanon), (averaging,
                                  colorize, darken, diff, dissipate, hue,
                                  lighten, overlay, saturate, screen, sub,
                                  tint, value)
*/
!URxvt.shiva.blurRadius:          (0-128)
!URxvt.shiva.iconFile:            (file)


/* trapd00r original colorscheme */

!*color0:              rgb:00/00/00
!*color1:              rgb:4C/8C/38
!*color2:              rgb:5F/A1/23
!*color2:              rgb:27/CA/25
!*color3:              rgb:A4/00/8A
!*color4:              rgb:5f/7b/8a
!*color5:              rgb:1D/90/B6
!*color6:              rgb:68/68/68
!*color7:              rgb:ff/ff/ff
!*color8:              rgb:3C/3C/3C
!*color9:              rgb:D6/93/00
!*color10:             rgb:95/c7/49
!*color11:             rgb:BB/00/5e
!*color12              rgb:6b/7b/8a
!*color13:             rgb:BB/7D/00
!*color14:             rgb:36/7F/C5
!*color15:             rgb:ff/ff/ff


/* black */
*color0:      #5A5A5A
*color8:      #3e3e3e
/* red */
*color1:      #FF4747
*color9:      #FF6767
/* green */
*color2:      #4D4C4C /* green => grey */
*color10:     #bFC81C
/* yellow */
*color3:      #FF8F00
*color11:     #F1973D
/* blue */
*color4:      #619AF4
*color12:     #5496FF
/* purple */
*color5:      #89005A 
*color13:     #B50077
/* cyan */
*color6:      #CB1C13 /* cyan => red */ /* 47E0FF */
*color14:     #2ED9FB
/* white */
*color7:      #FFFFFF
*color15:     #DEDEDE
/* orange */
*color16:     #FFB000





XFontSel*sampleText.background:       TEXTBG
XFontSel*menu*showUnselectable:       false
XFontSel*MenuButton.shadowWidth:      0
XFontSel*Toggle*ToggleStyle:          check
XFontSel*MenuButton*Justify:          left
XFontSel*MenuButton*MenuButtonStyle:  select    

.xfontsel.pane.commandBox.quitButton.background:  #252525
.xfontsel.pane.commandBox.quitButton.foreground:  snow
.xfontsel.pane.commandBox.ownButton.background:   orange3
.xfontsel.pane.commandBox.ownButton.foreground:   snow
.xfontsel.pane.commandBox.countLabel.background:  snow
.xfontsel.pane.viewPort.sampleText.background:    #252525
.xfontsel.pane.viewPort.sampleText.foreground:    snow
.xfontsel.pane.fieldBox.field0.background:        #252525
.xfontsel.pane.fieldBox.field0.foreground:        snow
.xfontsel.pane.fieldBox.field1.background:        #252525
.xfontsel.pane.fieldBox.field1.foreground:        snow
.xfontsel.pane.fieldBox.field2.background:        #252525
.xfontsel.pane.fieldBox.field2.foreground:        snow
.xfontsel.pane.fieldBox.field3.background:        #252525
.xfontsel.pane.fieldBox.field3.foreground:        snow
.xfontsel.pane.fieldBox.field4.background:        #252525
.xfontsel.pane.fieldBox.field4.foreground:        snow
.xfontsel.pane.fieldBox.field5.background:        #252525
.xfontsel.pane.fieldBox.field5.foreground:        snow
.xfontsel.pane.fieldBox.field6.background:        #252525
.xfontsel.pane.fieldBox.field6.foreground:        snow
.xfontsel.pane.fieldBox.field7.background:        #252525
.xfontsel.pane.fieldBox.field7.foreground:        snow
.xfontsel.pane.fieldBox.field8.background:        #252525
.xfontsel.pane.fieldBox.field8.foreground:        snow
.xfontsel.pane.fieldBox.field9.background:        #252525
.xfontsel.pane.fieldBox.field9.foreground:        snow
.xfontsel.pane.fieldBox.field10.background:       #252525
.xfontsel.pane.fieldBox.field10.foreground:       snow
.xfontsel.pane.fieldBox.field11.background:       #252525
.xfontsel.pane.fieldBox.field11.foreground:       snow
.xfontsel.pane.fieldBox.field12.background:       #252525
.xfontsel.pane.fieldBox.field12.foreground:       snow
.xfontsel.pane.fieldBox.field13.background:       #252525
.xfontsel.pane.fieldBox.field13.foreground:       snow
.xfontsel.pane.fieldBox*foreground:               #000000
.xfontsel.pane.fieldBox.MenuButton.borderWidth:   1
.xfontsel.pane.fieldBox.MenuButton.internalHeight:1
.xfontsel.pane.fieldBox.MenuButton.internalWidth: 2
.xfontsel.pane.fieldBox.MenuButton.shapeStyle:    rectangle
