#!/usr/bin/rtorrent -n -o ~/etc/rtorrent.rc
### vim:tw=0 cc=0 ft=ampl smc=80 fdm=marker fen:
###
#      ${HOME}/etc/rtorrent.rc
#   ‗‗‗‗‗‗‗‗‗‗‗‗ ‗‗‗‗‗‗ ‗‗‗‗‗‗‗‗ ‗‗‗‗‗‗‗‗‗‗‗
#         owner  Magnus Woldrich <m@japh.se>
#         btime  2009-04-24
#         mtime  2019-03-04 12:24:44
#           git  git://github.com/trapd00r/configs (up-to-date)
#                http://github.com/trapd00r/configs
#           irc  japh@freenode #rtorrent #zsh #vim #perl
#   ‗‗‗‗‗‗‗‗‗‗‗‗ ‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗‗ ‗‗‗‗ ‗‗‗‗
###

dht                           = auto
dht_port                      = 6881
#dht                           = disable
# 1G by default
pieces.memory.max             = 1G
check_hash                    = no
directory                     = /home/scp1/dl/
encryption                    = allow_incoming,try_outgoing,enable_retry
key_layout                    = qwerty
port_range                    = 50000-50001
scgi_local                    = ~/var/rtorrent/scgi
session                       = /home/scp1/var/rtorrent/session/
log.execute                   = ~/var/rtorrent/execute.log
port_random                   = no
download_rate                 = 0
encoding_list                 = utf8
max_memory_usage              = 2400M
network.max_open_files.set    = 512
pieces.hash.on_completion.set = no

trackers.alias.set_key = waffles.ch,            "waffles"
trackers.alias.set_key = definitely.notwhat.cd, "what.cd"
trackers.alias.set_key = superbits.org,         "superbits"
trackers.alias.set_key = tba.psytorrents.info,  "psy"
trackers.alias.set_key = pussytorrents.org,     "xxx"
trackers.alias.set_key = funkytorrents.com,     "funky"
trackers.alias.set_key = trackerfix.com,        "PUBLIC"

## rTorrent saves all the sessions in every 20 minutes by default. With
## large amount of torrents this can be a disk performance hog (see #180).
##
## Increase this interval, e.g. to 12 hours instead, if you think you're
## system is stable and/or you don't care about the possible loss of resume
## and local stat in the meantime, with:

schedule2 = session_save, 1200, 43200, ((session.save))

# make scgi socket group-writable
schedule = scgi_permission,0,0,"execute.nothrow=chmod,g+w,/home/scp1/var/rtorrent/scgi"

schedule2 = watch_directory_1,5,60,"load.start=/home/scp1/dl/*.torrent,d.directory.set=/mnt/music8/_new"
#schedule2 = watch_directory_2,5,5,"load.start=/home/wim/media/watch_music/*.torrent,d.directory.set=/home/user/media/music"
#schedule2 = watch_directory_3,5,300,"load.start=/home/user/media/watch_movies/*.torrent,d.directory.set=/home/user/media/movies"


system.method.set_key = event.download.inserted_new,log, "print=\"  GOT \",$d.get_name=,\" [\",$to_date=$system.time=,\"]\""
system.method.set_key = event.download.finished,log,     "print=\" DONE \",$d.get_name=,\" [R=\",$d.get_ratio=,\", \",$to_date=$system.time=,\"]\""
system.method.set_key = event.download.closed,log,       "print=\"CLOSE \",$d.get_name=,\" [R=\",$d.get_ratio=,\", \",$to_date=$system.time=,\"]\""


# sort seeding tab by ratio
view_sort_current = seeding,greater=d.get_ratio=

# sort incomplete tab by date added
view_sort_current = incomplete,greater=d.get_custom=tm_loaded
view_sort_new     = incomplete,greater=d.get_custom=tm_loaded

# Show recently completed top-most in "main"
view_sort_current = main,greater=d.get_custom=tm_completed

#view_filter_on = main,event.download.finished



## Show active and incomplete torrents (in view #0) and update every 10s
##   Items are grouped into complete, incomplete, and queued, in that order
##   Within each group, they're sorted by download and then upload speed.

#branch=pyro.extended=,false=,"view_sort_current = active,greater=d.get_up_rate="
#branch=pyro.extended=,"view_sort_current = active,\"compare=----,d.is_open=,d.get_complete=,d.get_down_rate=,d.get_up_rate=\""
##schedule=filter_active,12,10,"view_filter = active,\"or={d.get_up_rate=,d.get_down_rate=,not=$d.get_complete=}\" ;view_sort=active"


ui.color.alarm.set       = "bold 160"
ui.color.complete.set    = "italic 106"
ui.color.even.set        = ""
ui.color.focus.set       = "bold italic 2 on 232"
ui.color.footer.set      = "245 on 233"
ui.color.incomplete.set  = "160"
ui.color.info.set        = "137"
ui.color.label.set       = "224"
ui.color.leeching.set    = "italic 124"
ui.color.odd.set         = ""
ui.color.progress0.set   = "245"
ui.color.progress100.set = "65"
ui.color.progress120.set = "148"
ui.color.progress20.set  = "247"
ui.color.progress40.set  = "246"
ui.color.progress60.set  = "14"
ui.color.progress80.set  = "250"
ui.color.queued.set      = "242"
ui.color.seeding.set     = "100"
ui.color.stopped.set     = "124"
ui.color.title.set       = "243 on 233"

#view.collapsed.toggle

method.set_key = event.view.show, ~column_42_toggle, \
    "branch = \"string.contains=$ui.current_view=, active, leeching\", \
        ui.column.show=42, ui.column.hide=42"

ui.column.hide = 100
ui.column.hide = 110
ui.column.hide = 120
ui.column.hide = 130
ui.column.hide = 400
ui.column.hide = 410
ui.column.hide = 420
ui.column.hide = 500
ui.column.hide = 510
ui.column.hide = 520
ui.column.hide = 530
ui.column.hide = 900
ui.column.hide = 910

ui.column.hide = 920
#ui.column.hide = 930
ui.column.hide = 970
ui.column.hide = 980


#100:3C95/2:❢␣␣
#110:2C92/2:☢␣
#120:?2:☍␣
#130:?2:⌘␣
#400:?3C23/3:␣↺␣
#410:?3C24/3:␣⤴␣
#420:?3C14/3:␣⤵␣
#500:?2:↕␣
#510:3C28/3:℞␣␣
#520:6C96/6:∆⋮␣⟲␣␣
#530:6C90/6:∇⋮␣◷␣␣
#900:?5C24/3C21/2:␣Σ⇈␣␣
#910:2C94/2:⣿␣
#920:3C93/3:☯␣␣
#930:5C15/3C21/2:␣⛁␣␣␣
#970:2C91/2:✰␣
#980:2C16/2:⚑␣

### UI/VIEW: Uploaded data ##################################################
#                                                              vim: ft=dosini
#   All items, sorted by upload amount.
#   Bound to '°' key (will ONLY work if you use rT-PS)!

#pyro.collapsed_view.add = uploaded
#pyro.bind_key = uploaded_view, 0260, "view.sort = uploaded ; ui.current_view.set = uploaded"
#
#branch = (and, (system.has, "compare="), (system.has, "d.custom.if_z=")), \
#    "view.sort_new = uploaded, \"compare=--+,d.up.total=,pyro._view_sort_timestamp=,d.name=\"", \
#    "view.sort_new = uploaded, greater=d.up.total="
#
#branch = (and, (system.has, "compare="), (system.has, "d.custom.if_z=")), \
#    "view.sort_current = uploaded, \"compare=--+,d.up.total=,pyro._view_sort_timestamp=,d.name=\"", \
#"view.sort_current = uploaded, greater=d.up.total="
